{{template "base/base.html" .}}
{{define "head"}}
<title>欢迎来到，逗哥大洗浴</title>
{{ end }}
{{define "body"}}
<div class="container" style="width: 500px;">
  <h3>欢迎来到，逗哥大洗浴</h3>
  <br />
  <form action="/join" method="post" class="form-horizontal">
    <div class="form-group">
      <label class="col-md-3 control-label">老弟你叫啥: </label>
      <div class="col-md-5">
        <input type="text" class="form-control" name="uname" required />
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label">语言: </label>
      <div class="col-md-5">
        <select class="form-control" name="tech">
          <option value="websocket">逗言逗语</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <button type="submit" class="btn btn-info">
          手牌拿好，男宾一位
        </button>
      </div>
    </div>
  </form>
</div>
{{ end }}
